#banner-portafolio {
    background: linear-gradient(to top, rgba(11, 12, 15, 0.6) 10%, transparent), url("/imagenes/banner-portafolio.jpg") left 10% bottom 20%/cover no-repeat border-box padding-box, #0B1128;
    width: 100vw;
    height: 600px;
    padding: 2.75rem;
    position: relative;
}

#banner-portafolio h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 6.2rem;
    position: relative;
    text-align: right;
    margin-top: 6.2rem;
    margin-right: 2.5rem;
    margin-bottom: 0;
    float: right;
    text-align: right;
}

.descripcion-subtitulo {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-align: right;
    margin-top: 0.6rem;
    margin-right: 2.5rem;
    margin-bottom: 0;
    float: right;
    text-align: right;
}

.clear {
    clear: both;
}

.proyecto {
    font-size: 1.2rem;
    margin: 3rem 0;
    text-align: center;
}


/* .proyecto__list {
    width: 80%;
    margin: auto;
} */

.proyecto:first-of-type {
    margin-top: 6rem;
}

.proyecto__image-container {
    width: 100%;
    max-width: 50rem;
    display: inline-block;
    margin: 2rem;
    vertical-align: middle;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.proyecto__image-container {
    width: 100%;
    max-width: 800px;
    display: inline-block;
    margin: 0rem;
    vertical-align: middle;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.proyecto__image {
    width: 100%;
    vertical-align: top;
}

.proyecto__info {
    text-align: right;
    padding: 0.9rem;
    margin: 2rem;
    display: inline-block;
    vertical-align: middle;
    width: 50vh;
}


/* #diseño-2 .proyecto {
    text-align: right;
} */


/* #diseño-2 {
    text-align: right;
} */


/* #diseño-2 .proyecto__image-container {
    margin-left: calc(90% - 60px);
} */

.proyecto__name {
    margin: 0.2rem;
    color: #ff5454;
    font-size: 2rem;
}

.proyecto__subtitle {
    margin: 0;
    font-size: 1.1rem;
    color: #ccc;
}

.proyecto__subtitle a {
    color: inherit;
    text-decoration: none;
}

.proyecto__subtitle a:hover,
.proyecto__subtitle a:active {
    color: #ff5454;
}

.proyecto__text {
    margin: 0.2rem;
}


/* -------OJO--------
REM es una medida ligeramente mas pequeña que EM */