.proyecto {
    font-size: 1.2rem;
    margin: 3rem 0;
}


/* .proyecto__list {
    width: 80%;
    margin: auto;
} */

.proyecto:first-of-type {
    margin-top: 6rem;
}

.proyecto__image-container {
    width: 100%;
    max-width: 800px;
    display: inline-block;
    margin: 2rem;
    vertical-align: middle;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.proyecto__image-container {
    width: 100%;
    max-width: 800px;
    display: inline-block;
    margin: 0rem;
    vertical-align: middle;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.proyecto__image {
    width: 100%;
    vertical-align: top;
}

.proyecto__info {
    text-align: right;
    padding: 0.9rem;
    margin: 2rem;
    display: inline-block;
    vertical-align: middle;
    width: 100vh;
}


/* #diseño-2 .proyecto {
    text-align: right;
} */

#diseño-2 {
    text-align: right;
}


/* #diseño-2 .proyecto__image-container {
    margin-left: calc(90% - 60px);
} */

.proyecto__name {
    margin: 0.2rem;
    color: #ff5454;
    font-size: 2rem;
}

.proyecto__subtitle {
    margin: 0;
    font-size: 1.1rem;
    color: #ccc;
}

.proyecto__subtitle a {
    color: inherit;
    text-decoration: none;
}

.proyecto__subtitle a:hover,
.proyecto__subtitle a:active {
    color: #ff5454;
}

.proyecto__text {
    margin: 0.2rem;
}


/* -------OJO--------
REM es una medida ligeramente mas pequeña que EM */