
#descripcion-producto {
    background: url("banner.jpg");
    width: 100%;
    height: 600px;
    padding: 10px;
}

.sección-título {
    color: #333333;
    text-align: center;
}

#descripcion-producto h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    text-align: right;
    margin-top: 100px;
    margin-right: 40px;
    margin-bottom: 0px;
}

.descripcion-subtitulo {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: right;
    margin-top: 10px;
    margin-right: 40px;
    margin-bottom: 0px;
}

.button-titulo {
    background-color: #e63958;
    color: white;
    font: inherit;
    border: 1.5px solid #e63958;
    padding: 8px;
    border-radius: 18px;
    font-weight: bold;
    cursor: pointer;
}

/* RENE ME PODRIAS AYUDAR CON LA FORMA CORRECTA DE ALINEAR UN BOTON A LA DERECHA (SE QUE ESTA NO ES) */

/* .button-titulo {
    display: flexbox;
    justify-content: center;
    margin-top: 2%;
    margin-left: 83%;
} */

/* ---------------BODY----------------- */

#estudio {
    width: 30%;
    margin-top: 100px;
    margin-left: 200px;
    margin-bottom: 120px;
}

.estudio-pre-titulo {
    font-weight: 100;
    margin-bottom: 30px;
}

.estudio-titulo {
    font-weight: 400;
    margin-bottom: 0%;
}

.estudio-titulo-2 {
    margin-top: 0%;
}

.estudio-parrafo {
    font-weight: 100;
}

.estudio-boton {
    background-color: #e63958;
    color: white;
    font: inherit;
    border: 1.5px solid #e63958;
    margin-top: 30px;
    padding: 8px;
    border-radius: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
}

#personal .personal-contenedor {
    background-color: #f4f4f4;
    height: 450px;
    width: 100%;
    margin-bottom: 100px;
}


.personal-pre-titulo {
    font-weight: 100;
    padding-top: 100px;
    margin-top: 100px;
    margin-left: 200px;
    margin-bottom: 30px;
}

.personal-titulo {
    font-weight: 400;
    margin-left: 200px;
    margin-bottom: 0%;
}

.personal-titulo-2 {
    margin-top: 0%;
    margin-left: 200px;
}

.personal-parrafo {
    font-weight: 100;
    margin-left: 200px;
}

.personal-boton {
    background-color: #e63958;
    color: white;
    font: inherit;
    border: 1.5px solid #e63958;
    margin-top: 30px;
    margin-left: 200px;
    padding: 8px;
    border-radius: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
}

/* ----------------------PREGUNTAR COMO CENTRAR VERTICALMENTE -----------------------------*/
#planes {
    height: auto;
}

.plan__list {
    width: 80%;
    margin: auto;
    text-align: center;
}

/* CSS APLICADO A TODOS LOS RECUADROS DE LOS PLANES */
.plan {
    background: #494949;
    text-align: center;
    padding: 30px;
    margin: 30px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    border-radius: 30px;
}

/* CSS PLAN RECOMENDADO */

.plan--highlighted {
    background: #292929;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* BOX-SHADOW Usado para generar sombra en la caja */

.plan__annotation {
    background: white;
    color: #e63958;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 18px;
}

.plan__title {
    color: white;
}

.plan__price {
    color: white;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan--highlighted .plan__price {
    color: white;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feature {
    color: white;
    margin: 8px 0;
}

.parrafo-definicion {
    color: white;
}

#key-features {
    background: #ff1b68;
    margin-top: 80px;
    padding: 16px;
}

#key-features .sección-título {
    color: white;
    margin: 32px;
}

.key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Convertimos en elementos "inline-block" para ser más precisos */
/* VERTICAL-ALIGN TOP Ajusta el texto con el borde superior */

.key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-feature__image {
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

/* h1 {
    font-family: sans-serif;
} */

/* MARGENES
GANA EL QUE MAYOR MARGEN TENGA POR ELLO ES IMPORTANTE UTILIZAR
1. (margin-top) o (margin-bottom)
 */

 /* Ajustar menu */