* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#descripcion-producto {
    background: url("banner.jpeg");
    width: 100%;
    height: 528px;
    padding: 10px;
}

.sección-título {
    color: #2ddf5c;
    text-align: center;
}

#descripcion-producto h1 {
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}

/* CSS APLICADO A TODOS LOS RECUADROS DE LOS PLANES */
.plan {
    background: #d5ffdc;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

/* CSS PLAN RECOMENDADO */

.plan--highlighted {
    background: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* BOX-SHADOW Usado para generar sombra en la caja */

.plan__annotation {
    background: white;
    color: #19b84c;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: #858585;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan--highlighted .plan__price {
    color: #0e4f1f;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feature {
    margin: 8px 0;
}

/* RENE NO ENTIENDO LA FUNCION DE INHERIT */

/* CURSOR POINTER Hace que el cursor cambie al situarse sobre el boton */

.button {
    background-color: #0e4f1f;
    color: white;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: white;
    color: #0e4f1f;
}

/* h1 {
    font-family: sans-serif;
} */

/* MARGENES
GANA EL QUE MAYOR MARGEN TENGA POR ELLO ES IMPORTANTE UTILIZAR
1. (margin-top) o (margin-bottom)
 */

 /* Ajustar menu */

.main-header {
    width: 100%;
    background: #2ddf5c;
    padding: 8px 16px;
 }

 .main-header > div {
     display: inline-block;
     vertical-align: middle;
 }

 /* Color de uHost y quitar linea inferior */
 .main-header__brand {
     color: #0e4f1f;
     text-decoration: none;
     font-weight: bold;
     font-size: 22px;
 }

  /* Alinear items a la derecha (Paquete, clientes e inicio) */
 .main-nav {
     display: inline-block;
     text-align: right;
     width: calc(100% - 74px);
     vertical-align: middle;
 }

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}
 
 /* Colocar items en una sola linea */
 .main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
}

/* Efecto al situar el cursor sobre los items */
.main-nav__item a:hover, 
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a {
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

