body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#descripcion-producto {
    background: linear-gradient(to top, rgba(0, 22, 40, .6) 10%, transparent), url("banner.jpg") left 10% bottom 20%/cover no-repeat border-box padding-box, #0B1128;
    width: 100vw;
    height: 1000px;
    position: relative;
    /* background-image: url("banner.jpg");
    background-size: cover  ;
    background-position: left 10% bottom 20%; */
    /* background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: padding-box; */
    /* background-attachment: scroll; */
    /* background-image: linear-gradient(to left bottom, red, blue); */
    /* background-image: linear-gradient(180deg, red, blue, green, yellow); */
    /* background-image: linear-gradient(180deg, red, transparent); */
    /* background-image: radial-gradient(ellipse farshest-side at 20% 50%, red, transparent); */
    /* padding: 2.75rem; */
    /* border: 5px dashed red; */
}


/* -------------------FILTROS------------------
div {
    background: brown;
    filter: blur(10px)
    filter: contrast(200%)
    filter: grayscale(80%)
    filter: hue-rotate(90deg)
    filter: invert(75%)
    filter: opacity(25%)
    filter: saturate(30%)
} */


/* BACKGROUND-REPEAT: X
BACKGROUND-REPEAT: Y
BACKGROUND-SIZE: 300PX 100PX
BACKGROUND-SIZE: COVER
BACKGROUND-POSITION: LEFT BOTTOM
BACKGROUND-POSITION: 20PX */

#descripcion-producto h1 {
    max-width: 56rem;
    color: white;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: 'Montserrat', sans-serif; */
    /* position: relative; */
    /* text-align: right; */
    /* margin-top: 6.2rem; */
    /* margin-right: 2.5rem; */
    /* margin-bottom: 0; */
    /* float: right; */
    /* text-align: right; */
}

.descripcion-subtitulo {
    color: white;
    font-size: 1.2rem;
    text-align: right;
    max-width: 30rem;
    text-align: center;
    /* letter-spacing: 1px; */
    line-height: 2rem;
}

.button-titulo {
    background-color: #e63958;
    color: white;
    font: inherit;
    border: 1.5px solid #e63958;
    padding: 0.5rem;
    border-radius: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}


/* .button-titulo {
    display: flexbox;
    justify-content: center;
    margin-top: 2%;
    margin-left: 83%;
} */


/* ---------------BODY----------------- */

.clear {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear {
    clear: both;
}

.clear_title {
    text-align: center;
    flex-direction: column;
    /* padding: 0 6rem; */
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* #estudio {
    width: 30%;
    margin-top: 100px;
    margin-left: 200px;
    margin-bottom: 120px;
} */


/* ---------------------YHEZ ESTUDIO---------------- */

#estudio {
    /* padding: 2rem; */
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 6rem 8rem;
}

.creativo {
    display: flex;
    justify-content: left;
    align-items: center;
}

.creativo__contenedor {
    /* background-color: #eee; */
    /* border-radius: 0.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2); */
    width: 50rem;
    padding: 2rem;
}

.estudio-pre-titulo {
    font-weight: 100;
    margin-bottom: 30px;
}

.estudio-titulo {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 0%;
}

.estudio-titulo-2 {
    font-size: 5rem;
    margin-top: 0%;
    margin-bottom: 0%;
}

.estudio-parrafo {
    font-weight: 100;
    max-width: 40rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

.estudio-boton {
    background-color: #e63958;
    color: white;
    font: inherit;
    border: 1.5px solid #e63958;
    margin-top: 1.8rem;
    padding: 0.5rem;
    border-radius: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
}

.estudio-boton:hover,
.estudio-boton:active {
    background: white;
    color: #e63958;
}

@media screen and ( max-width: 20rem) {
    .creativo__contenedor {
        width: 20%;
    }
}


/* .creativo-img {
    background-image: url(/imagenes/estudio-inicio.jpg);
    width: 498px;
    height: 300px;
    border-radius: .5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
} */


/* .creativo__contenedor {
    margin: 4rem 0;
} */


/* ---------------------PERFIL PERSONAL---------------- */

#perfil {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 6rem 8rem;
    /* gap: 12rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
    padding: 6rem 8rem; */
}

.personal {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    /* margin-bottom: 6.2rem; */
}

.personal__contenedor {
    width: 50rem;
    padding: 2rem;
    /* background-color: white;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2); */
}


/* @media screen and ( max-width: 50rem) {
    .personal__contenedor {
        width: 90%;
    }
} */

.perfil-pre-titulo {
    font-weight: 100;
    /* margin-top: 100px;
    margin-left: 200px;
    margin-bottom: 30px; */
}

.perfil-titulo {
    font-size: 2.5rem;
    font-weight: 400;
    /* margin-left: 200px; */
    margin-bottom: 0%;
}

.perfil-titulo-2 {
    font-size: 5rem;
    margin-top: 0%;
    margin-bottom: 0;
    /* margin-left: 200px; */
}

.perfil-parrafo {
    font-weight: 100;
    max-width: 40rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

.perfil-boton {
    background-color: #e63958;
    color: white;
    font: inherit;
    border: 1.5px solid #e63958;
    margin-top: 1.8rem;
    /* margin-left: 200px; */
    padding: 0.5rem;
    border-radius: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
}

.perfil-boton:hover,
.perfil-boton:active {
    background: white;
    color: #e63958;
}


/* ---------------------NUESTROS SERVICIOS---------------- */

.sección-título {
    color: #333333;
    font-size: 4rem;
    /* text-align: center; */
}

.sección {
    display: flex;
    justify-content: center;
}

.plan__list {
    width: 100%;
    height: 100%;
    padding: 6rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.plan {
    max-width: 24rem;
    background-color: #494949;
    flex-basis: 100%;
    margin: 2rem;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
    transition: all .2s ease-out;
}

.plan__title {
    color: white;
}

.plan__price {
    color: white;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan--highlighted .plan__price {
    color: white;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feature {
    color: white;
    margin: 0.5rem 0;
}

.parrafo-definicion {
    color: white;
}

.plan:hover {
    transform: scale(1.06);
    box-shadow: 0 6px 6px rgba(0, 0, 0, .2);
    background-color: #343434;
}


/* ---------------PORTAFOLIO-------------- */

.master_portafolio {
    background-color: #f4f4f4;
}

.portafolio {
    width: 100%;
}

.portafolio-pre-titulo {
    font-weight: 100;
    margin-bottom: 30px;
}

.portafolio-titulo {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 0%;
}

.portafolio-titulo-2 {
    font-size: 5rem;
    margin-top: 0%;
}

.portafolio__contenedor {
    display: block;
    padding: 6rem 6rem 2rem 10rem;
}

.portafolio__imagenes {
    width: 100vw;
    padding-bottom: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imagen {
    background-image: url(imagenes/casa_lira.jpg);
    padding: 25rem 10rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
}

.imagen2 {
    background-image: url(imagenes/chupiraymi-portada.jpg);
    padding: 25rem 10rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
}

.imagen3 {
    background-image: url(imagenes/miraflores.jpg);
    padding: 25rem 10rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
}

.contenedor__imagenes {
    text-align: center;
    padding: 2rem;
}

.contenedor__imagen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    gap: 2rem;
}

.contenedor__img {
    background-color: white;
    max-width: 25rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

.contenido h4 {
    font-size: 1.4rem;
    margin-bottom: 1%;
    color: #e63958;
}

.contenido p {
    margin-top: 0%;
}


/* .contenedor__imagen {
    padding: 0;
    width: 100%;
} */


/* .portafolio__imagen {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
} */


/* .idea {
    width: 45%;
    margin: 1rem;
    margin-bottom: 8rem;
} */


/* ----------------------PREGUNTAR COMO CENTRAR VERTICALMENTE -----------------------------*/


/* #planes {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */


/* ------------- CAMBIO DE CODIGO ----------- */


/* .plan__list {
    width: 80%;
    margin: auto;
    text-align: center;
} */


/* .plan {
    background-color: #494949;
    display: inline-block;
    text-align: center;
    width: 30%;
    padding: 2rem;
    box-sizing: border-box;
    margin: 2rem;
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    margin-bottom: 6.2rem;
} */

@media screen and ( max-width: 60rem) {
    .plan {
        width: 90%;
    }
}


/* #nuestro {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
} */


/* CSS PLAN RECOMENDADO */


/* .plan--highlighted {
    background: #292929;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
} */


/* BOX-SHADOW Usado para generar sombra en la caja */


/* .plan__annotation {
    background: white;
    color: #e63958;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
} */

#key-features {
    background: #ff1b68;
    margin-top: 5rem;
    padding: 1rem;
}

#key-features .sección-título {
    color: white;
    margin: 2rem;
}

.key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}


/* Convertimos en elementos "inline-block" para ser más precisos */


/* VERTICAL-ALIGN TOP Ajusta el texto con el borde superior */

.key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-feature__image {
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
    padding: 1.5rem;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
}

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, o.5);
}

.modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
}

.modal__actions {
    text-align: center;
}

.modal__action {
    border: 1px solid #ff1b68;
    background: #ff1b68;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
    background: #ccc;
    border-color: #ccc;
}

.modal__action--negative {
    background: #0B1128;
    border-color: #0B1128;
}

.modal__action--negative:hover,
.modal__action--negative:active {
    background: red;
    border-color: red;
}


/* MARGENES
GANA EL QUE MAYOR MARGEN TENGA POR ELLO ES IMPORTANTE UTILIZAR
1. (margin-top) o (margin-bottom)
 */


/* Ajustar menu */


/* ---------------------- UNIDADES Y MEDIDAS -----------------
 -------VIEWPORT-------
 vh
 vw
 vmin
 vmax
  -------FONT SIZE-------
 rem
 em
------VIEWPORT Y FONT SIZE------
porcent
 */


/* -------------POSICIONES-------------
 Viewport---position:fixed;
 Ancestor---position:absolute;
  */