* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}


/* RENE NO ENTIENDO LA FUNCION DE INHERIT */


/* CURSOR POINTER Hace que el cursor cambie al situarse sobre el boton */


/* BOTON ELEGIR PLAN */


/* Barra de MENU constante al deslizar (Ajustar top y left y POSITION de MAIN-HEADER para hacer cambio */


/* Posición de YHEZ STUDIO */


/* Z-INDEX para ajustar BANNER junto a BACKGROUNG en paquetes  */

.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    padding: 0.5rem 2.5rem;
    z-index: 1;
    /* text-align: center; */
}

.main-header>div {
    display: inline-block;
    vertical-align: middle;
}

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: white;
    display: block;
    margin: 0.6rem 0;
}


/* Color de uHost y quitar linea inferior */

.main-header__brand {
    color: #ffffff;
    text-decoration: none;
    font-weight: 200;
    font-size: 1.5rem;
    height: 1.8rem;
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand img {
    height: 100%;
    width: 100%;
}


/* Alinear items a la derecha (Paquete, clientes e inicio) */

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 122px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0p;
    list-style: none;
}


/* Colocar items en una sola linea */

.main-nav__item {
    display: inline-block;
    margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
    text-decoration: none;
    color: #a7a7a7;
    font-weight: 100;
    padding: 0.2rem 0;
}


/* Efecto al situar el cursor sobre los items */

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    background: black;
    /* border-bottom: 5px solid white; */
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
    color: #a7a7a7;
    background: black;
    padding: 0.5rem 1rem;
    border-radius: 18px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
    color: white;
    border-radius: 18px;
    cursor: pointer;
    border: none;
}


/* ---------------CSS SITIO NUEVO-------------- */


/* ----------------CSS FOOTER----------------- */

.main-footer {
    background: black;
    padding: 2rem;
    margin-top: 3rem;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 1rem;
}


/* OJO Quitar SUBRAYADO al texto */

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
}

.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: center;
}

.mobile-nav__item {
    margin: 1rem 0;
}

.mobile-nav__item a {
    font-size: 1.5rem;
}

.button {
    background-color: #e63958;
    color: white;
    font: inherit;
    width: 140px;
    border: 1.5px none;
    padding: 8px;
    border-radius: 18px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: white;
    color: #e63958;
}


/* Quitar borde azul pre-establecido */

.button:focus {
    outline: none;
}

.open {
    display: block !important;
}