* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* RENE NO ENTIENDO LA FUNCION DE INHERIT */

/* CURSOR POINTER Hace que el cursor cambie al situarse sobre el boton */

/* BOTON ELEGIR PLAN */

.button {
    background-color: #e63958;
    color: white;
    font: inherit;
    width: 140px;
    border: 1.5px none;
    padding: 8px;
    border-radius: 18px;
    font-weight: bold;
    cursor: pointer;
}


.button:hover,
.button:active {
    background: white;
    color: #e63958;
}

/* Quitar borde azul pre-establecido */

.button:focus {
    outline: none;
}

/* Barra de MENU constante al deslizar (Ajustar top y left y POSITION de MAIN-HEADER para hacer cambio */

/* Posición de YHEZ STUDIO */
/* Z-INDEX para ajustar BANNER junto a BACKGROUNG en paquetes  */
.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    padding: 12px 40px;
    z-index: 1;
    text-align: center;
 }

 .main-header > div {
     display: inline-block;
     vertical-align: middle;
 }

 /* Color de uHost y quitar linea inferior */
 .main-header__brand {
     color: #ffffff;
     text-decoration: none;
     font-weight: 200;
     font-size: 20px;
 }

  /* Alinear items a la derecha (Paquete, clientes e inicio) */
 .main-nav {
     display: inline-block;
     text-align: right;
     width: calc(90% - 70px);
     vertical-align: middle;
 }

.main-nav__items {
    margin: 0;
    padding: 0p;
    list-style: none;
}
 
 /* Colocar items en una sola linea */
 .main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 100;
    padding: 3px 0;
}

/* Efecto al situar el cursor sobre los items */
.main-nav__item a:hover, 
.main-nav__item a:active {
    color: #a7a7a7;
    /* border-bottom: 5px solid white; */
}

.main-nav__item--cta a {
    color: white;
    /* background: #E63958;
    padding: 8px 16px;
    border-radius: 8px; */
}

/* ---------------CSS SITIO NUEVO-------------- */


/* ----------------CSS FOOTER----------------- */

.main-footer {
    background: black;
    padding: 32px;
    margin-top: 48px;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;
}

/* OJO Quitar SUBRAYADO al texto */

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc
}