/* main {
    padding-top: 2rem;
} */

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Ajustar BANNER de la pagina PORTAFOLIO */

#banner-estudio {
    background: linear-gradient(to top, rgba(0, 22, 40, .6) 10%, transparent), url("/imagenes/banner-estudio.jpeg") left 10% bottom 20%/cover no-repeat border-box padding-box, #0B1128;
    width: 100vw;
    height: 1000px;
    padding: 2.75rem;
    position: relative;
}

.background {
    background: url(/portafolio/imagenes/banner-portafolio.jpg);
    filter: grayscale(20%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.package {
    width: 80%;
    margin: 1rem 0;
    border: 4px solid #0e4f1f;
    border-left: none;
    position: relative;
}


/* --------Generar recuadro con BORDE ACTIVO al pasar el cursor por encima del mismo-------- */


/* Uso de !IMPORTANT para que el borde de todos los recuadros sea rojo porque al mover uno de ellos, el recuadro de en medio presentaba inconvenientes */

.package:hover,
.package:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-color: #ff5454 !important;
}


/* border-color: #ff5454; */


/* ------------------OJO--------------- */


/* Quitar subrayado, color pre-determinado del texto */

.package a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 2rem;
}


/* Que ejecuta POSITION: FIXED */

.package__badge {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.2rem;
    font-size: 0.6rem;
    color: white;
    background: #ff5454;
    padding: 0.5rem;
}

.package__subtitle {
    color: #979797;
}

.package__info {
    padding: 1rem;
    border: 1px solid #0e4f1f;
    font-size: 1.2rem;
    color: #0e4f1f;
    background: white;
}


/* CLEAT BOTH permite que al utilizar FLOAT los elementos no se situen uno encima de otro */

.clearfix {
    clear: both;
}

#plus {
    background: rgba(213, 255, 220, 0.95);
}

#gratis {
    background: rgba(234, 252, 237, 0.95);
    float: right;
    border-right: none;
    border-left: 4px solid #0e4f1f;
    text-align: right;
}


/* #free:hover,
#free:active {
    border-left-color: #ff5454;
} */

#premium {
    background: rgba(14, 79, 31, 0.95)
}

#premium .package__title {
    color: white;
}

#premium .package__subtitle {
    color: #bbb;
}